.next {
  font-family: "Open Sans";
  color: #ffffff;
  font-size: 18px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #04795b;
  box-shadow: 0 0 10px black;
  outline: none;
  background-color: #064e3c;
  line-height: 40px;
  cursor: default;;
}

.able {
  background-color: #04795b;
  cursor: pointer;

  &:hover {
    filter: brightness(1.3);
  }
}